<h2>Listado de Productos</h2>
<div class="row">
  <div class="col-md-4" *ngFor="let producto of productos">
    <div class="card" style="width: 18rem;">
      <img [src]="producto.img" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{producto.nombre}} - {{producto.marca}}</p>
        <p class="card-text"> $ {{producto.precio}}</p>
      </div>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Mas Detalles
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
